

/* you need to include: header, 
images with captions, footer, main content section and your external link. 
You should have a complete template of your site by the end of the week.

At this point, the main HTML page should contain base styling, 
a header, a footer, a main content section, embedded images, and navigation.  */


body {
    /* https://fonts.google.com/specimen/Meddon?category=Serif,Display,Handwriting&preview.text=Marina&preview.text_type=custom&selection.family=Alex+Brush|Allura|Arapey:ital@0;1|Buenard|Dancing+Script:wght@400;700|Libre+Baskerville:ital,wght@0,400;0,700;1,400|Meddon|Ovo|Parisienne|Pinyon+Script|Rouge+Script&sidebar.open=true */

    font-family: 'Alex Brush', cursive;
    font-family: 'Allura', cursive;
    font-family: 'Arapey', serif;
    font-family: 'Buenard', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Meddon', cursive;
    font-family: 'Ovo', serif;
    font-family: 'Parisienne', cursive;
    font-family: 'Pinyon Script', cursive;
    font-family: 'Rouge Script', cursive;

    background-color: #F1D4D4;
    text-align: left;
    
}
#page-container {
    font-family: 'Arapey', serif;
    font-family: 'Buenard', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Ovo', serif;
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem;
}
header {
    
    padding: 2.5%;
    margin: 1.7%;
    background-color: #484C7F;
    border: 2px solid;
    border-radius: 4%;
}
ul {
    list-style-type: none;
    
}
li {
    display: inline;
    vertical-align: center;
}
.header {
    
    margin-left: 1%;
    padding-right: 1.5%;
    text-align: center;

}

#calpoly {
    margin: 3%;
    padding: 4%;
}

h1 { 
    font-family: 'Meddon', cursive;
    margin: 0.2%;
    text-align: center;
    
}
h2 {
    font-family: 'Alex Brush', cursive;
    font-weight: 800;
    margin: 0.5%;
    padding: 1%;
    background-color: #F1D4D4 ;
    font-size: xx-large;
}
h3 {
    font-family: 'Allura', cursive;
    margin: auto;
    background-color: #F1D4D4;
    font-weight: 600;
    font-size: x-large;
    
}
img {
    padding: 1.5%;
    margin: 0.5%;
    image-rendering: auto;
}
.align-right {
    float: right;
    margin-left: 10px;
    width: 45%;
    padding: 1.5%;
    vertical-align: text-top;
    
}
h2#interests {
    text-align: center;
    vertical-align: center;
}
/* .imgcenter {
    float: inline-end;
    min-width: 20%;
    max-width: 45%;
} */
/* adding img before . messes it up?? */

/* .favthings {
    border: 2px thin #AC8DAF;
    border-radius: 32%;
} */
.align-left {
    float: left;
    margin-right: 10px;
    width: 45%;
    padding: 1.5%;
    vertical-align: text-bottom;
}
img.medium {
    width: 250px;
    height: 250px;
}
/* img#headshot {
    padding: 7%;
} */
p {
    padding: 1%;
    margin: 3%;
}
p.pright{
    float: right;
}
#headshot {
    vertical-align: text-top;
    border: 2px dashed #AC8DAF;
    border-radius: 32%;
    float: left;
    padding: 2%;
    margin: 4%;
}
#divheadshot {
    padding-bottom: 0.5%;
}
#Marina Ode {
    padding: 3%;
}
#calpoly {
    float: right;
    margin: 2%;
    padding: 2%;
}
.steppingstones {
    font-family: 'Arapey', serif;
    font-family: 'Buenard', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Ovo', serif;
    padding-left: 3%;
    margin: 1%;
}
#testimony {
    background-color: #DDB6C6;
    text-align: right;
    border: 2px solid;
    border-radius: 8%;
    margin: 3%;
    padding: 4%;
}
#picturecollage {
    font-family: 'Arapey', serif;
    font-family: 'Buenard', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Ovo', serif;
    margin: 2%;
    padding-bottom: 2%;
    border: 2px solid #AC8DAF;
    border-radius: 15%;
}

.favthings {
    
    align-self: center;
    background-color:#F1D4D4;
    padding: 1%;
    margin: 2%;
}
#artistry {
    margin: 3%;
    padding-top: 5%;
}
/* #hobbiesdecor {
    border: 2px solid #AC8DAF;
    border-radius: 10%;
} */
.hobbies {
    font-family: 'Arapey', serif;
    font-family: 'Buenard', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Ovo', serif;
    padding: 1%;
    margin: 2%;
    vertical-align: middle;
}
#mary-martha {
    font-family: 'Arapey', serif;
    font-family: 'Buenard', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Ovo', serif;
}
ul.hobbies {
    list-style-type: disc;
}
#gardening {
    text-align: center;
    float: left;
}
#jewelry-making {
    margin: 2%;
    padding: 2%;
    padding-right: 15%;
}

#music{
    margin: 2%;
    padding: 2%;
    text-align: left;
    float: left;
}

#music {
    margin: 2%;
    padding: 2%;
    float: left;
}

/* #guitar {
    margin: 2%;
    padding: 2%;
} */

.gardening {
    margin: 2%;
    padding: 2%;
    
}
#decorating {
    margin: 2%;
    padding: 2%;
    float: left;
}

.encourage {
    margin: 5%;
    padding: 2%;
    float: left;
}

#biblestudywords {
    float: left;
    align-self: center;
    vertical-align: text-top;
    text-align: start;

}
/* #finalbit {
    float: left;
} */

.conclusion {
    font-family: 'Arapey', serif;
    font-family: 'Buenard', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Ovo', serif;
    background-color: #F1D4D4;
    float: left;

}
footer {
    
    background-color: #484C7F;
    /* margin-left: .60%;
    padding-right: 1.5%; */
    text-align: center;
    
}
.footer {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    min-width: 75%;
    height: 2.5rem;

}
ul.footer {
    list-style-type: none;
    
}
li.footer {
    display: inline;
    vertical-align: center;
}

a:link {
    text-decoration: none;
    color: #AC8DAF;
}
    
a:visited {
    color: #AC8DAF;
}
a:hover {
    color: #F1D4D4;
}
a:active {
    color: #AC8DAF;
}





























/* 
#lifestory {

}

#intro {

}

#headshot {

}



#JesusRocks {

}

#addy&marina {

}


#PromQueen {

}

#Teddy {

}

#Yosemite {

}

#Mom&Daughter {

}

# {

}

# {

}

# {

}

# {

}

# {

}

# {

}

# {

}

# {

}

# {

}








#snowie {

}

.encourage {

}

#passions {

}

#wwjd {

}

#parentingskills {

}

#finalbit {

}



# {

}

# {

}

# {

}

# {

}

# {

 */
