

/* you need to include: header, 
images with captions, footer, main content section and your external link. 
You should have a complete template of your site by the end of the week.

At this point, the main HTML page should contain base styling, 
a header, a footer, a main content section, embedded images, and navigation.  */


body {
    /* https://fonts.google.com/specimen/Meddon?category=Serif,Display,Handwriting&preview.text=Marina&preview.text_type=custom&selection.family=Alex+Brush|Allura|Arapey:ital@0;1|Buenard|Dancing+Script:wght@400;700|Libre+Baskerville:ital,wght@0,400;0,700;1,400|Meddon|Ovo|Parisienne|Pinyon+Script|Rouge+Script&sidebar.open=true */

    /* font-family: 'Alex Brush', cursive;
    font-family: 'Allura', cursive; */
    font-family: 'Arapey', serif;
    font-family: 'Buenard', serif;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Libre Baskerville', serif;
    /* font-family: 'Meddon', cursive; */
    font-family: 'Ovo', serif;
    /* font-family: 'Parisienne', cursive;
    font-family: 'Pinyon Script', cursive;
    font-family: 'Rouge Script', cursive; */

    background-color: #F1D4D4;
    
    height: auto;
    width: auto;
    margin: 0%;
    
}
#page-container {
    
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem;
}

ul {
    list-style-type: none;
    /* position: fixed;
    top: 0; */

}
li {
    display: inline;
    vertical-align: center;
}
nav {
    padding: .2%;
    margin: 1.7%;
    background-color: #484C7F;
    opacity: 0.5;
    
    text-align: center;
    /* margin: 1%;
    padding: 1%; */
    position: fixed;
    /* z-index: 10; */
    /* trying to add a fixed nav bar but i get jarbald words instead */
    font-size: xx-large;
    font-family: 'Alex Brush', cursive;
    width: 100%;
}


h1 { 
    font-family: 'Meddon', cursive;
    margin: 0.2%;;
    text-align: center;
}
h2 {
    font-family: 'Parisienne', cursive;
    font-weight: 800;
    margin: 0.5%;
    padding: 1%;
    /* background-color: #F1D4D4 ; */
    font-size: xx-large;
    text-align: center;
    border-radius: 20%;
    text-decoration-line: wavy;
}
h3 {
    font-family: 'Rouge Script', cursive; 
    margin: 1%;
    background-color: #F1D4D4;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    border-radius: 10%;
}
img {
    padding: 1.5%;
    margin: 1.5%;
    image-rendering: auto;
    align-self: center;
}
.picturecolumn1of2 {
    float: right;
    margin: 10px;
    width: 600px;
    padding: 1.5%;
    vertical-align: text-bottom;
    text-align: right;
    
}
h2#interests {
    text-align: center;
    vertical-align: center;
}

.picturecolumn2of2 {
    float: left;
    margin: 10px;
    width: 600px;
    padding: 1.5%;
    vertical-align: text-top;
}

p {
    padding: 1%;
    margin: 1%;
}

#headshot {
    vertical-align: text-top;
    border: 2px dashed #AC8DAF;
    border-radius: 32%;
    float: left;
    padding: 2%;
    margin: 4%;
    margin-bottom: 3%;
}
#divheadshot {
    padding-bottom: 0.5%;
}
#aboutmarina {
    text-align: left;
}

#calpoly {
    float: right;
    margin: 2%;
    padding: 2%;
}
.steppingstones {
    
    padding-left: 3%;
    margin: 1%;
    margin-bottom: 3%;
}
#testimony {
    background-color: #DDB6C6;
    text-align: right;
    border: 2px solid;
    border-radius: 8%;
    margin: 3%;
    padding: 4%;
}
#salvation {
    text-align: right;
    padding-right: 4%;
}
#picturecollage {
    clear: both;
    margin: 2%;
    padding-bottom: 2%;
    border: 2px solid #AC8DAF;
    border-radius: 15%;
}

.favthings {
    
    align-self: center;
    background-color:#F1D4D4;
    padding: 1%;
    margin: 2%;
}
#artistry {
    margin: 3%;
    padding-top: 5%;
}
.hobbiesdecor {
    padding: 1%;
    margin: 1%;
    background-color: #AC8DAF;
    border-radius: 20%;
    clear: both;
    text-align: center;
    
}
#mary-martha {
    background-color: #DDB6C6;
    border: 2px solid #AC8DAF;

}
#flourish {
    font-size: large;
}
.hobbiescolumn1of3, .hobbiescolumn2of3, .hobbiescolumn3of3 {
    float: left;
    margin: 10px;
    width: 300px;
    padding: 1.5%;
    vertical-align: text-bottom;
}
.hobbies {
    
    padding: 1%;
    margin: 2%;
    vertical-align: middle;
}

ul.hobbies {
    list-style-type: disc;
}
#gardening {
    text-align: center;
    float: left;
    
}

#music {
    margin: 2%;
    padding: 2%;
    text-align: left;
    float: left;
    border: 2px solid #484C7F;
    border-radius: 10%;
}
#song a:visited {
    color: #AC8DAF;
}
#song a:hover {
    color: #484C7F;
}


/* #guitar {
    margin: 2%;
    padding: 2%;
} */
.gemcolumn1of2, .gemcolumn2of2 {
    float: right;
    margin: 10px;
    width: 475px;
    padding: 1.5%;
    
}
#bits-bobs {
    margin: 2%;
    padding: 2%;
    border: 2px dashed #AC8DAF;
    border-radius: 10%;
    
    
    
}
#decorating {
    margin: 2%;
    padding: 2%;
    float: left;
    border: 2px solid #484C7F;
    border-radius: 10%;
}

/* .encourage {
    margin: 5%;
    padding: 2%;
    float: left;
} */

#biblestudywords {
    float: left;
    align-self: center;
    vertical-align: text-top;
    text-align: start;
    border: 4px solid #484C7F;
    border-radius: 10%;
    padding: 3%;

}
#jewelry-making {
    margin: 2%;
    padding: 2%;
    border: 4px solid #484C7F;
    border-radius: 10%;
    clear: both;
}
#jewelrylink a:visited {
    color: #AC8DAF;
}
#jewelrylink a:hover {
    color: #484C7F;
}
/* #finalbit {
    float: left;
} */

.conclusion {
    font-family: 'Arapey', serif;
    font-family: 'Buenard', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Ovo', serif;
    background-color: #F1D4D4;
    float: left;

}
footer {
    
    background-color: #484C7F;
    padding: 1%;
    text-align: center;
    
}
.footer {
    clear: both;
    bottom: 0;
    
    height: 2.5rem;
    margin: 1%;
    padding: 1%;

}
ul.footer {
    list-style-type: none;
    padding: 3%;
    
}
li.footer {
    display: inline;
    vertical-align: center;
}

a:link {
    text-decoration: none;
    color: #AC8DAF;
}
    
a:visited {
    color: #AC8DAF;
}
a:hover {
    color: #F1D4D4;
}
a:active {
    color: #F1D4D4;
}


















/* .imgcenter {
    float: inline-end;
    min-width: 20%;
    max-width: 45%;
} */
/* adding img before . messes it up?? */

/* .favthings {
    border: 2px thin #AC8DAF;
    border-radius: 32%;
} */










/* 
#lifestory {

}

#intro {

}

#headshot {

}



#JesusRocks {

}

#addy&marina {

}


#PromQueen {

}

#Teddy {

}

#Yosemite {

}

#Mom&Daughter {

}

# {

}

# {

}

# {

}

# {

}

# {

}

# {

}

# {

}

# {

}

# {

}








#snowie {

}

.encourage {

}

#passions {

}

#wwjd {

}

#parentingskills {

}

#finalbit {

}



# {

}

# {

}

# {

}

# {

}

# {

 */
